<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{stadium.name}}</mat-card-title>
    <mat-card-subtitle>{{stadium.address}}</mat-card-subtitle>
  </mat-card-header>
    <img width="300" alt="Angular Logo" src="{{stadium.image}}">  <mat-card-content>
    <p>{{stadium.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
