<div style="height:100%">
  <div fxLayout="row" fxLayoutAlign="center stretch">
    <div fxFlex="grow" style="background:white;">
      grow shink
    </div>
    <div fxFlex="noshrink">
      <form fxLayout="column" name="loginForm" [formGroup]="loginForm" novalidate>
        <mat-card class="login-card mat-elevation-z8">
          <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="center center" class="login-form">
              <div fxFlex>
                <mat-form-field class='form-field mat-form-field-appearance-legacy'>
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Email" formControlName="email" [(ngModel)]="email">
                  <mat-error *ngIf="loginFormErrors.email.required">
                    Email is required
                  </mat-error>
                  <mat-error *ngIf="!loginFormErrors.email.required && loginFormErrors.email.email">
                    Please enter a valid email address
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex>
                <mat-form-field class='form-field mat-form-field-appearance-legacy'>
                  <input matInput type="password" placeholder="Password" formControlName="password" [(ngModel)]="password">
                  <mat-error *ngIf="loginFormErrors.password.required">
                    Password is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex>

                <div class="remember-forgot-password form-field" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
                  <mat-checkbox class="remember-me" aria-label="Remember Me">
                    Remember Me
                  </mat-checkbox>
                </div>
              </div>
              <div fxFlex fxFlexAlign="end">
                <button mat-raised-button color="accent" (click)="onLoginClicked()">Login OR Register</button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </div>
</div>
