<form class="login-form" name="loginForm" novalidate>
    <div fxLayout="column" fxLayoutAlign="center center">
        <div fxFlex>
            <mat-form-field class='form-field mat-form-field-appearance-legacy'>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class='form-field mat-form-field-appearance-legacy'>
                <mat-label>Location</mat-label>
                <input matInput placeholder="Location" formControlName="location">
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class='form-field mat-form-field-appearance-legacy'>
                <mat-label>Image URL</mat-label>
                <input matInput placeholder="Image URL" formControlName="imgurl">
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class='form-field mat-form-field-appearance-legacy'>
                <mat-label>Image URL</mat-label>
                <input matInput placeholder="Image URL" formControlName="imgurl">
            </mat-form-field>
        </div>
        <div fxFlex fxFlexAlign="end">
            <button mat-raised-button color="primary" (click)="onLoginClicked()">LOGIN</button>
        </div>
    </div>
</form>
