/* You can add global styles to this file, and also import other style files */

.no-borders {
    margin: 0px
}
.no-padding {
  padding: 0px;
}

.toolbar {
    background-color: red;
    color: white;
}

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
